<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="content">
    <h2><%= recipe.title %></h2>
    <div class="details content">
      <h3>Ingredients</h3>
      <table>
        <% for (let key of recipe.ingredients.keys()) { %>
          <tr>
            <td><%= recipe.ingredients.get(key) %></td>
            <td><%= key %></td>
          </tr>
        <% } %>
      </table>
      <h3>Instructions</h3>
      <p><%= recipe.instructions %></p>
      <a class="delete" data-doc="<%= recipe._id %>">
        delete
      </a>
    </div>
    <%- include("./partials/footer.ejs") %>
  </div>

  <script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/recipes/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
    
  </script>
</body>
</html>