<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="content">
    <div class="details content">
      <h2 class="details title"><%= recipe.title %></h2>
      <h3 class="details heading">Ingredients</h3>
      <ul class="details ingredients">
        <% for (let key of recipe.ingredients.keys()) { %>
          <li><%= recipe.ingredients.get(key) %> <%= key %>
          </li>
        <% } %>
        </ul>
      <h3 class="details heading">Instructions</h3>
      <ol class="details instructions">
        <% for (let step of recipe.instructions) { %>
          <li>
            <%= step %>
          </li>
        <% } %>
      </ol>
      <% if (user) { %>
        <button class="delete" data-doc="<%= recipe._id %>">
          delete
        </button>
        <button class="edit" data-doc="<%= recipe._id %>">
          edit
        </button>
      <% } %>

    </div>
    <%- include("./partials/footer.ejs") %>
  </div>
</body>
</html>